.App {
  color: #0191b4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.App .myContainer {
  max-width: 600px;
  margin: 30px auto;
  border: 1px solid #8A8C83;
  border-radius: 0.45rem;
  padding: 30px 10px 20px 20px;
  color: #0191b4;
  background: linear-gradient(#fae34d, #83def5);
  background: #f7eba1;
  background: #fffbc5;
  background: linear-gradient(#fffbc5, #83def5);
}